.points-container {
  display: flex;

  .points {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    max-width: 100%;
    font-size: 24px;
    background-color: rgb(8, 10, 12);
    padding: 16px 32px;
    border: .05px solid rgb(43, 43, 43);

    .points-label {
      color: rgb(112, 188, 250);
      opacity: .4;
    }

    .error {
      color: red;
      font-weight: 700;
      font-size: 16px;
    }
  }

  @media screen and (min-width: 800px) {
    padding: 64px;

    .points {
      text-align: center;
    }
  }
}