.talent-path-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  width: 100%;

  .talent-path {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 48px;

    .scroll-label {
      color: rgb(161, 161, 161);
      padding-bottom: 5px;
      font-style: italic;
    }

    .path-label {
      color: rgb(161, 161, 161);
      text-transform: uppercase;  
      margin-bottom: 16px;
      font-size: 14px;
      font-weight: 700;
    }

    .path {
      display: flex;
      flex-direction: row;
      align-items: center;
      overflow-x: auto;
      width: 100%;
      padding: 5px;
    }

    .path::-webkit-scrollbar {
      display: none;
    }
  }

  @media screen and (min-width: 600px) {
    align-items: center;
  }

  @media screen and (min-width: 800px) {
    padding-top: 64px;

    .talent-path {
      flex-direction: row;
      justify-content: flex-start;
      padding-bottom: 64px;

      .scroll-label {
        display: none;
      }

      .path-label {
        margin-bottom: 0;
        margin-right: 32px;
      }

      .path {
        overflow: auto;
        width: auto;
      }
    }
  }
}

.error-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 100%;

  .error {
    color: red;
    font-size: 16px;
    font-style: italic;
    padding: 5px;
  }

  @media screen and (min-width: 800px) {
    padding-top: 35px;

    .talent-path-container {
      padding-top: 0;
    }
  }
}